RG_NAME=rg-focusbreaker
LOCATION=eastus
APP_NAME=fb-web
STORAGE_NAME=fbstorage
SQL_SERVER_NAME=fbsqlserver
SQL_DB_NAME=fbsqldb
SQL_ADMIN=sqladmin
# Set this via environment variable securely before running
AZ_SQL_ADMIN_PASSWORD=
